.contact-container {
  display: grid;
  grid-template-columns: 100%;
  height: 21vh;

  .header-wrapper,
  .contact-wrapper,
  .edit-contact-wrapper {
    justify-self: center;
  }

  .header-wrapper {
    .header {
      font-size: 34px;
    }
  }
}
